 
/* Body background */
body {
    background-color: #f0f8ea; /* Light green background */
    font-family: Arial, sans-serif;
    border-radius: 10px; 
}
#mmnrcForm {
	width: 60%;
	margin: 50px auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	border-radius: 10px; 
}

#mmnrcForm label {
	display: block;
	margin: 10px 0;
	font-weight: bold;
}

#mmnrcForm input[type="text"], #mmnrcForm input[type="number"],
	#mmnrcForm input[type="date"], #mmnrcForm select {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
}

#mmnrcForm input[type="submit"] {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #007BFF;
	color: #fff;
	border: none;
	cursor: pointer;
}

#mmnrcForm input[type="submit"]:hover {
	background-color: #0056b3;
}
.error {
        color: red;
    }