/* employeeDetails.css */

/* Body background */
body {
    background-color: rgb(128, 255, 128); /* Light green background */
    font-family: Arial, sans-serif;
}


/* Heading style */
h1 {
    color: #228b22; /* Dark green heading color */
    font-size: 24px;
    margin-bottom: 20px;
}

/* Paragraph text style */
p {
    color: #333; /* Dark gray text color */
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left; /* Align text to the left */
}
span {
    color: #20cf16; /*  */
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 20px;
    text-align: right;
}
/* Links (if any) */
a {
    color: #228b22; /* Dark green link color */
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #2e8b57; /* Lighter green on hover */
}
 
/* Create a grid container */
.grid-container {
    display: grid; 
     grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center; 
    padding-left: 10px;
}
/* Container for details */
.details-container {
    background-color: #ffffff; /* White background */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width:85%; 
    border: 1px solid green; /* Optional: Add a border for visual clarity */
    
}

.home-button{
 width: 100%;
    padding: 15px;
    margin-top: 20px; /* Added space above submit button */
    background-color: #00ff00;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}
#edit-button {
    background-color: #80ff00; /* Green */
    color: white;
    padding: 10px 20px; /* Adjust as needed */
    font-size: 16px; /* Adjust font size */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow effect */
     border: none;  /* Remove borders */
  border-radius: 5px;  /* Rounded corners */
}

#edit-button:hover {
    background-color: #008CBA; /* Blue (change to your desired color) */
}


 
