<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Employee</title>
    <link rel="stylesheet" type="text/css" href="/css/addEmployeeStyle.css">
     <script th:inline="javascript">
        /*<![CDATA[*/
      var success = /*[[${success}]]*/ 'false';
        if (success == 'true') {
            alert('Employee added successfully!');
            window.location.href = '/previousPage';
        }
        /*]]>*/
    </script>
</head>
<body>
    <h2>Add New Employee</h2>
    <form action="#" th:action="@{/addEmployee}" th:object="${employee}" method="post" class="form">
        <div class="input-group">
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}"/>
        </div>
        <div class="input-group">
            <label for="department">Department:</label>
            <input type="text" id="department" th:field="*{department}"/>
        </div>
        <div class="input-group">
            <label for="role">Role:</label>
            <input type="text" id="role" th:field="*{role}"/>
        </div>
        <div class="input-group">
            <input type="submit" value="Submit" class="submit-button"/>
        </div>
    </form>
    <button onclick="javascript:history.back()" class="back-button">Go Back</button>
</body>
</html>
